 * {
    font-family: 'Caveat', cursive;
    border: border-box;
    margin: 0;
    padding: 0;

}
body {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    background-image: url(../static/images/hand.jpg);
}  
body::-webkit-scrollbar {
    display: none;
}

li a {
    text-decoration: none;
}

.navbar ul{
    overflow: auto;
    background-color: black;
}

.navbar li{
    float:right;
    list-style: none; 
    margin: 12px 22px;
}

.navbar li a{
    padding: 3px 3px;
    text-decoration: none;
    color: white;
    font-size: 23px;
    background-color: rgb(255, 0, 0);
}

.navbar li a:hover{
    color: rgb(112, 218, 18)
}

.images {
    height: 380px;
    width: 290px;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 1.2vw;
    border-radius: 11%;
}

.row {
    justify-content: center;
    margin-left: 2%;
    margin-right: 2%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style-type: none;
    padding-top: 10px;
}

.contents {
    flex-direction: column;
    font-size: 20px;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
}

h1 {
    text-align: center;
    font-weight: bold;
    color: #ffffff;
    font-size: 50px;
    padding-top: 10px;
}

.flash-msg{
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.5vh;
    font-family: 'Roboto', sans-serif;
    background-color: #2a2829;
    border-radius: 0px 0 10px 10px;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    color: white;
    height: 7vh;
    line-height: 7vh;
    max-width: 30%;
    font-weight: 300;
}

.field1 {
    padding-top: 16vh;
}

.allfields {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding-bottom: 100px;
}

.allfields h3 {
    width: 300px;
    height: 6vh;
    margin-top: 4.3vh;
    border: solid white 2px;
    border-radius: 7px;
    margin-bottom: 20px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    color: white;
    font-weight: 300;
    line-height: 5.8vh;
    background-color: #202022;
    margin-top: 60px;
}

.allfields h4 {
    width: 300px;
    height: 4.2vh;
    margin-top: 4.3vh;
    border: solid white 2px;
    border-radius: 7px;
    margin-bottom: 20px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    color: white;
    font-weight: 300;
    line-height: 4vh;
    background-color: #202022;
    justify-content: center;
}

.field1 h2 {
    padding-top: 1vh;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-weight: 300;
    padding-top: 4vh;
    color: rgb(255, 255, 255);
    padding-bottom: 1.7vh;
}

.allfields h3 a {
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    color: #8df0fb;
}

.border {
    margin: auto;
    margin-top: 1vh;
    width: 300px;
    height: 265px;
    max-width: 90%;
    border-radius: 1.5%;
    background-color: #2a2829;
}

.form1 .email {
    padding-top: 2vh;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    text-align: left;
    padding-left: 20px;
    color: white;
}

.form1 .password {
    padding-top: 1vh;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    text-align: left;
    padding-left: 20px;
    color: white;
}

.texts {
    width: 247px;
    padding: 5px;
    margin: 10px 0;
    background-color: #202022;
    border-radius: 4px;
    color: white;
    font-family: 'Roboto', sans-serif;
}

.form1 #sub1 {
    width: 260px;
    padding: 8px;
    margin: 10px 0;
    background-color: #238636;
    font-family: 'Roboto', sans-serif;
    border: 0px solid green;
    border-radius: 4px;
    font-size: 15px;
    color: white;
    margin-top: 1.1vh;
}

.allfields a {
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    color: #8df0fb;
}

.all_details {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    align-items: center;
    color: white;
    font-weight: 300;
    font-family: 'Roboto', sans-serif;
    margin-top: 5.8vh;
}

.info_container {
    background-color: #202022;
    margin-left: 37%;
    margin-right: 37%;
    padding-bottom: 30px;
    
}

.all_details h1 {
    padding-bottom: 4.5vh;
    font-size: 6em;
}

.json {
    width: 400px;
    height: 370px;
    border-radius: 4px;
}

.price {
    font-size: 3em;
    margin-top: 2vh;
}

.item-descrip {
    font-size: 2.5em;
    margin-top: 1vh;
}

.all_details p {
    font-family: 'Roboto', sans-serif;
}

.amount-field {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    width: 5em;
    height: 2.3em;
    text-align: center;
    background-color: #2a2829;
    border-radius: 5px;
    border: solid black 2px;
    color: rgb(255, 255, 255);
}

.quant-form {
    font-size: 2.5vh;
    margin-top: 2vh;
}

.submit {
    font-weight: 300;
    margin-top: 2vh;
    width: 6em;
    height: 3em;
    font-size: 20px;
    background-color: #2a2829;
    color: white;
    border-radius: 5px;
}

option {
    font-family: 'Roboto', sans-serif;
    background-color: #2a2829;
    color: white;
}

.page-header {
    text-align: center;
    margin-top: 3vh;
    font-size: 2.8em;
    color: white;
    margin-bottom: 30px;
}

.main_form {
    justify-content: center;
    margin-left: 5%;
    margin-right: 5%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    list-style-type: none;
}

.form_box {
    display: flex;
    flex-direction: row;
}

.block {
    width: 400px;
    margin-top: 33px;
    font-size: 30px;
}

.main_art {
    width: 7em;
    height: 6em;
    border-radius: .2em;
}

.main-object {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    padding-bottom: 30px;
}

.checkout-contents {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-size: .6em;
    background-color: #202022;
    line-height: 1em;
    justify-content: center;
    border-radius: 10px;
    width: 300px;
    margin-top: 20px;
    border: solid white 3px;
}

.block {
    height: 50px;
    width: 50px;
}

.dot {
    width: 100%;
    height: 1px;
    background: rgb(255, 255, 255);
    margin-right: 200px;
  }

.dot3 {
    width: 100%;
    height: 1px;
    background:  #202022;
    margin-right: 200px;
}

.remove {
    background-color: #202022;
    margin-bottom: 15px;
    width: 90px;
    height: 30px;
    border-radius: 3px;
    border: solid rgb(0, 0, 0) 2px;
    color: white;
    font-size: 20px;
}

.checkout-contents p {
    line-height: 1.9em;
}








.copyright p {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
    height: 40px;
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
}
