<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;600;700&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <title>{%block title%}{% endblock %}</title>
</head>
<body>
    {% block head%}
    <div class="navbar">
        <ul>
            <li>{% if 'user_email' in session %}
                <a href="/logout"><i class="fa-solid fa-right-from-bracket"></i></a>
                {% else %}
                <a href="/login"><i class="fa-solid fa-right-to-bracket"></i></a>
                {% endif %}</li>
                <li><a href="/cart"><i class="fa-solid fa-cart-shopping"></i></a></li>
                <li><a href="/wishlist"><i class="fa-regular fa-heart"></i></a></li>
            <li class="nav1"><a href="/landing"><i class="fa-solid fa-house"></i></a></li>
        </ul>
    </div>
    {% endblock %}
    <main class="margin-top">
        {% for msg in get_flashed_messages() %}
        <p class="flash-msg">
          {{ msg }}
        </p>
      {% endfor %}
          {% block body %}{% endblock %}
          
      </div>
    </main>
</body>
</html>