{% extends 'base.html' %}{% block title %}Login{% endblock %}

{% block body %}
<div class="field1">
  <h2>Sign in to DD Art</h2>
<div class="border">

  
  <div class="allfields">

      <form class="form1" action="/login" method="POST">
        <p class="email">
          Email address </br>
          <input class="texts" type="text" name="email" placeholder="">
        </p>
        
        <p class="password">
          Password <input class="texts" type="password" name="password" placeholder="">
        </p>
        <p>
          <button type="submit" placeholder="Login" class="sub" id="sub1">Sign In</button>
        </p>
      </form>

      <h3> No account? <a href="/create">Create one here!</a></h3>
    </div> 
  </div>
</div>
  {% endblock %}
