{% extends 'base.html' %} {% block title %}Wishlist{% endblock %}
{% block body %}

<div class="page-header">
  <h3>Wishlist</h3>
</div>

<div class="main_form">
      {% for wishlist_art in wishlist_art %}
      <h1 class="main-object">
          <img class="main_art" src="{{ wishlist_art.art.image_path }}">
          <div class="block"></div>
            <div class="checkout-contents">
              <div class="art_piece">
             <p>Art Piece <br>{{ wishlist_art.art.art_name }} </p>
              <div class="dot"></div>
              </div>
              <div class="art_price">
             <p>Price <br> {{ wishlist_art.art.price }}</p> 
             <div class="dot3"></div>
             <form action="/wishlist/{{ wishlist_art.wishlist_id }}/delete" method="POST">
               <input class="remove" type="submit" value="Remove"/>
             </form>
              </div>
            </div>
      <h1>
      {% endfor %} 
  </div>
    
  {% endblock %}